//colors
$color-base: #ffffff;
$color-black: #000000;
$color-blue: #6ebbd3;
$color-buy: #6ebbd3;
$color-sold: #1f2021;
$color-discount: #e62d2d;
$color-card: #f3f3f3;
//fonts
$font-size-base: 18px;
$font-size-small: 16px;
$font-size-big: 24px;
$font-weight-base: 400;
$font-weight-big: 700;
//screen-size
$small-desktop-width: 1280px;
$tablet-width: 991px;
$small-tablet-width: 768px;
$mobile-width: 576px;